<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/home.css" />
</head>

<body>

    <!-- head -->
    <div id="head">
        <h2>Create a new post:</h2>
        <form id="new-post-form" action="/post/create" method="post">
            <textarea name="content" id="post" cols="30" rows="3"></textarea>
            <button class="sub-btn" type="submit">Post</button>
        </form>
    </div>

    <!-- post container -->
    <%- include('_post_container.ejs') %>

    <!-- chat box -->
    <div id="chat-box">
        <div id="messages">
        </div>
        <form action="" id="message-form">
            <textarea type="textarea" name="content"  rows="1" placeholder="Type a message..."></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="../js/chat_engine.js"></script>
    <%if(locals.user){%>
    <script>
        new ChatEngine('chat-box', '<%=locals.user.name%>');
    </script>
    <%}%>
    <script type="text/javascript" src="../js/home.js"></script>
    <script type="text/javascript" src="../js/post.js"></script>
</body>

</html>