<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form action="/post/create" method="post">
        <label for="post">Post</label>
        <textarea name="content" id="post" cols="30" rows="3"></textarea>
        <button type="submit">Post</button>
    </form>

    <%for(let post of posts){%>
        <div>
            <%=post.content%><br>author:<%=post.user.name %>
        </div>
        <form action="/comment/create" method="post">
            <textarea name="content" cols="50" rows="2"></textarea>
            <input type="hidden" value="<%=post._id%>" name="post_id">
            <button type="submit">Post Comment</button>
        </form>
        <br>
    <% } %>
</body>
</html>