<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeSocial</title>
  <scipt src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></scipt>
  <link rel="stylesheet" href="./css/profile.css">
</head>

<body>
    <% if(flash.success && flash.success.length> 0){ %>
    <p>
      <%= flash.success %>
    </p>
    <% } %>
    <div id="profile">
      <% if(locals.user){ %>
      <img src="<%=user.avatar %>" alt=""><br>
      <h1>Hello <%=user.name %>
      </h1>
      <% }else{%>
      <h1 class="welcome">Welcome</h1>
      <% } %>

      <% if(!locals.user) {%>
      <a href="/user/signup"><button type="button">sign up</button></a>
      <a href="/user/signin"><button type="button">sign in</button></a>
      <% } %>

      <% if(locals.user) {%>
      <a href="/home"><button type="button">Home</button></a>
      <a href="/user/signout"><button type="button">sign out</button></a>
      <% } %>
    </div>

  <div id="posts-container">
    
  </div>


  <script type="text/javascript" src="./js/home.js"></script>
</body>

</html>