<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <style>
        body{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <form action="/user/create_user" id="signup" method="post">
        <input type="text" name="email" id="email" placeholder="Enter you username...">
        <input type="password" name="password" id="password" placeholder="Create a password...">
        <input type="text" name="name" id="name" placeholder="Enter you name...">
        <button type="submit" form="signup">Sign up</button>
    </form>
</body>
</html>