<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            background-color: aquamarine;
            display: grid;
            place-content: center;
        }

        form {
            background-color: aliceblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 10px;

        }

        input {
            font-size: 1.5rem;
            outline: none;
            border: none;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            background-color: rgb(221, 244, 174);
            box-sizing: border-box;
        }

        input:focus {
            border: 2px solid aquamarine;
        }

        button {
            font-size: 1.5rem;
            outline: none;
            border: none;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            background-color: aquamarine;
            cursor: pointer;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        }
        button:focus{
            transform: scale(0.9);
        }
    </style>

</head>

<body>
    <form action="/user/authorize" id="signin-form" method="post">
        <input type="text" placeholder="Enter your username..." name="email" autofocus required>
        <input type="password" placeholder="password" name="password" required>
        <button form="signin-form" type="submit">Sign in</button>
    </form>
</body>

</html>