body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    div#head {
        padding: 20px;
        background-color: rgb(207, 219, 247);
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        h2 {
            margin-top: 0px;
            color: rgb(0, 37, 88);
        }
        form {
            align-items: center;
            justify-content: center;
            gap: 10px;
            textarea {
                padding: 5px;
                font-size: 1.2rem;
                width: 30%;
                outline: none;
                border-radius: 10px;
                box-shadow: 3px 3px 3px 3px rgba(83, 96, 152, 0.2);
            }
            button {
                box-shadow: 3px 3px 3px 3px rgba(83, 96, 152, 0.2);
                display: block;
            }
        }
    }
    div#posts-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: baseline;
        font-size: 1.2rem;
        div.post {
            // flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background-color: ghostwhite;
            margin: 20px;
            padding: 20px 30px;
            box-sizing: border-box;
            border-radius: 10px;
            width: 30%;
            box-shadow: 3px 3px 10px 5px rgba(83, 96, 152, 0.112);
            max-height: 370px;
            div {
                width: 100%;
                overflow: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }

                div.post-user {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    cursor: default;
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;

                        &:hover span {
                            color: blue;
                            text-decoration: underline;
                        }
                        div.user-avatar {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin: 5px;
                            img {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                object-fit: cover;
                            }
                        }
                        span {
                            font-weight: 600;
                            color: rgb(5, 5, 145);
                        }
                    }
                    div {
                        width: 40%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            a {
                                display: inline-block;
                                color: #002558;
                            }
                        }
                    }
                }
                p.post-text {
                    cursor: default;
                    max-height: 150px;
                    overflow: scroll;
                    overflow-x: hidden;
                    width: 100%;
                    // scrollbar-width:thin;
                    &::-webkit-scrollbar {
                        background-color: rgb(194, 194, 194);
                        border-radius: 4px;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #002558;
                        border-radius: 8px;
                    }
                }
                a.delete-link {
                    font-size: 1rem;
                    padding: 8px 12px;
                    background-color: #002558;
                    color: white;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    border-radius: 50%;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                button.comment-btn {
                    background-color: rgb(0, 37, 88);
                    color: white;
                    border: none;
                    padding: 6px 5px;
                    border-radius: 5px;
                    font-size: 0.9rem;
                    margin: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        transform: scale(0.96);
                    }
                    i {
                        margin: 0px 10px;
                        &.fa-caret-down {
                            margin-left: 20px;
                        }
                    }
                }
                div.comment-container {
                    display: none;
                    div.comment {
                        margin: 10px 0px;
                        border-radius: 10px;
                        background-color: rgb(213, 213, 224);

                        div {
                            background-color: #002558;
                            display: grid;
                            grid-template-columns: 0.1fr 0.8fr 0.1fr;
                            align-items: center;
                            padding: 5px;
                            i {
                                justify-self: center;
                                padding: 7px;
                                border-radius: 50%;
                                background-color: white;
                                color: rgb(0, 37, 88);
                            }
                            span {
                                color: white;
                            }
                        }
                        p {
                            margin: 5px;
                        }
                    }
                }
            }
            form {
                position: relative;
                bottom: -10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                textarea {
                    padding: 5px;
                    outline: none;
                    font-size: 0.9rem;
                    border-radius: 5px;
                    border: none;
                    border-bottom: 3px solid rgb(0, 37, 88);
                    overflow: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                button {
                    font-size: 1.13rem;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: rgb(0, 37, 88);
                    i {
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    div#chat-box {
        background-color: ghostwhite;
        border-radius: 10px;
        height: 300px;
        width: 280px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        box-shadow: 3px 3px 6px 3px rgba(83, 96, 152, 0.2);
        div#messages {
            height: 89%;
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            div.message {
                position: relative;
                max-width: 80%;
                border-radius: 5px;
                padding: 7px 10px;
                p {
                    font-size: 1rem;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    margin: 0px;
                }
            }
        }
        form {
            position: absolute;
            bottom: 10px;
            width: 280px;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            textarea {
                outline: none;
                border: none;
                border-bottom: 3px solid rgb(0, 37, 88);
                padding: 5px;
                font-size: 1rem;
                border-radius: 5px;
                flex-grow: 1;
                flex-shrink: 1;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            button {
                border: none;
                font-size: 1rem;
                background-color: #002558;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}

.sub-btn {
    background-color: rgb(0, 37, 88);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.96);
    }
}
// .message{
//     width: 20px;
//     border-radius: 5px;
//     background-color: yellow;
// }
.other {
    align-self: flex-start;
    background-color: #44628c;
    color: white;
    p.name {
        font-size: 0.8rem !important;
        color: orange;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.my {
    align-self: flex-end;
    background-color: #c4d4e9;
    p.name {
        font-size: 0.8rem !important;
        color: #009e54;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

p.time {
    font-size: 0.7rem !important;
    color: rgb(0, 0, 0);
    text-align: right;
    position:absolute;
    bottom: -15px;
    right: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
