body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    div#head {
        padding: 20px;
        background-color: rgb(207, 219, 247);
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        h2 {
            margin-top: 0px;
            color: rgb(0, 37, 88);
        }
        form {
            align-items: center;
            justify-content: center;
            gap: 10px;
            textarea {
                padding: 5px;
                font-size: 1.2rem;
                width: 30%;
                outline: none;
                border-radius: 10px;
                box-shadow: 3px 3px 3px 3px rgba(83, 96, 152, 0.2);
            }
            button {
                box-shadow: 3px 3px 3px 3px rgba(83, 96, 152, 0.2);
                display: block;
            }
        }
    }

    //styles for post container
    @import "post_container.scss";

    div#chat-box {
        background-color: ghostwhite;
        border-radius: 10px;
        height: 300px;
        width: 280px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        box-shadow: 3px 3px 6px 3px rgba(83, 96, 152, 0.2);
        div#messages {
            height: 89%;
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            div.message {
                position: relative;
                max-width: 80%;
                border-radius: 5px;
                padding: 7px 10px;
                p {
                    font-size: 1rem;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    margin: 0px;
                }
            }
        }
        form {
            position: absolute;
            bottom: 10px;
            width: 280px;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            textarea {
                outline: none;
                border: none;
                border-bottom: 3px solid rgb(0, 37, 88);
                padding: 5px;
                font-size: 1rem;
                border-radius: 5px;
                flex-grow: 1;
                flex-shrink: 1;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            button {
                border: none;
                font-size: 1rem;
                background-color: #002558;
                color: white;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}

.sub-btn {
    background-color: rgb(0, 37, 88);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.96);
    }
}
// .message{
//     width: 20px;
//     border-radius: 5px;
//     background-color: yellow;
// }
.other {
    align-self: flex-start;
    background-color: #44628c;
    color: white;
    p.name {
        font-size: 0.8rem !important;
        color: orange;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.my {
    align-self: flex-end;
    background-color: #c4d4e9;
    p.name {
        font-size: 0.8rem !important;
        color: #009e54;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

p.time {
    font-size: 0.7rem !important;
    color: rgb(0, 0, 0);
    text-align: right;
    position:absolute;
    bottom: -15px;
    right: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
