body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 236, 248);

    main {
        flex-shrink: 1;
        width: 77%;
        overflow: scroll;
        div#top-container {
            position: relative;
            height: 48vh;
            background-image: url(../images/social_background.jpg);
            background-size: cover;
            background-attachment: fixed;
            text-align: right;
            div#avatar {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background-color: transparent;
                font-size: 3.5rem;
                color: rgb(212, 255, 0);
                margin: 0px 10px 40px 0px;
                &#about {
                    font-size: 1.5rem;
                    font-family: "Bookman Old Style";
                    span {
                        font-size: 2rem;
                        font-family: "Consolas", monospace;
                    }
                }
                span {
                    color: white;
                    text-transform: capitalize;
                    font-size: 5rem;
                    margin: 20px;
                    font-family: "Monotype Corsiva", cursive;
                }
            }
        }
        div {
            nav {
                position: sticky;
                top: 0px;
                z-index: 1;
                background-color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                p {
                    color: #002558;
                    font-size: 1.1rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    position: relative;
                    margin: 10px 20px 0px 20px;
                    padding: 10px 15px;
                    border-radius: 10px 10px 0px 0px;
                    cursor: default;
                }
            }

            //styles for post container
            @import "post_container.scss";
        }
    }
    section {
        flex-shrink: 1.5;
        width: 23%;
        height: 100%;
        background-color: rgba(184, 85, 85, 0.662);
    }
}
